<%= turbo_frame_tag "upload_asset_modal_body" do %>
  <div class="row gap-30">
    <% @cloud_assets.each do |asset| %>
        <div class="card asset-area cloud-area border-0 rounded-0">
          <div class="asset-info cloud-area">
            <%= image_tag(main_app.cdn_image_url(asset.attachment), class: 'cloud-asset-thumbnail attachment', width: '100%', height: '136px', data: { id: asset.id, name: asset.asset_file_name }) %>
          </div>
          <div class="card-body p-0">
            <%= content_tag(:p, asset.asset_file_name, class: 'cloud-asset-name p-2 rounded-bottom mb-0 card-text h-100') %>
          </div>
        </div>
    <% end %>
  </div>
<% end %>
