.modal-lg {
  max-width: 1060px;
  padding: 0 20px;
}

.gap-30 {
  gap: 30px;
  row-gap: 10px;
}

.asset-area {
  width: 136px;
}

.cloud-asset-name {
  background-color: #f5f5f5;
  margin-top: 1px;
}

.asset-area.active {
  background-color: #478dc1;
  color: #fff;
}

.asset-area:hover ul.dropdown-menu {
  width: 30px;
  min-width: auto;
  height: 100%;
  border: none;
  display: block;
  top: -2px;
  right: 0;
  background: #fff;
  box-shadow: none;
}

.asset-area:hover ul.dropdown-menu > li > a {
  padding: 3px 0;
  text-align: center;
}

.select-file {
  font-size: 12px;
  line-height: 16px;
}

.choose-file[type="file"]::file-selector-button {
  color: #010a51 !important;
  cursor: pointer;
}

.cloud-upload-asset[type="file"]::file-selector-button {
  display: none;
}

.choose-file[type="file"]::file-selector-button:hover {
  background-color: transparent;
}

#upload_asset_button {
  font-size: 14px;
}

.cloud-asset-modal {
  padding: 40px 40px 0px;
}

.cloud-close-modal {
  background-color: transparent;
  border: none;
  font-size: 20px;
}

#associate_asset_modal .modal-title {
  font-size: 16px;
  font-weight: 600;
}

.asset-info {
  position: relative;
  overflow: hidden;
}

.zoom-image {
  width: 100%;
  height: 100%;
  transition: transform 0.1s, opacity 0.3s;
}

.zoom-image:hover {
  transform: scale(1.5);
  opacity: 0.8;
  cursor: pointer;
}
